body {
  background-color: white;
}
.alert {
  height: 4rem;
}

.movie_detail {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: black;
}

.movie_card_img {
  border-radius: 5%;
  width: 25vw;
  height: 77vh;
  object-fit: cover;
}

.summary {
  font-size: 22px;
  color: rgb(46, 42, 42);
}

.details {
  width: 55%;
}
.details h1 {
  margin-bottom: 2rem;
}
button {
  width: 100%;

  margin: 1rem;
}

.buttons {
  padding-top: 2rem;
}

.genre {
  display: inline-flex;
  flex-wrap: wrap;
}
.genre span {
  margin: 6px;
  margin-bottom: 0;
  color: white;
  background-color: #de294b;
  padding: 3px 13px;
  border-radius: 20px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .movie_detail {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* color: white; */
  }

  .movie_card_img {
    width: 86vw;
    object-fit: cover;
  }

  .details {
    width: 100%;
  }
  .details h1 {
    margin-block: 1rem;
    text-align: center;
  }
  button {
    margin: 1rem;
  }
  .buttons {
    padding-right: 1rem;
  }
}
